{% extends 'layout.html' %}
{% block title %}
  Confirm Rental
{% endblock %}
{% block head %}
{% endblock %}
{% block nav %}{% include 'nav.html' %}{% endblock nav %}

{% block content %}
  <body class="bg-gray-100">
    <div class="max-w-[85rem] px-4 sm:px-6 lg:px-8 mx-auto my-4 sm:my-10">
      <div class="mx-auto sm:w-11/12 lg:w-3/4">
        <div class="flex flex-col p-6 bg-white shadow-lg sm:p-10 rounded-xl">
          <h2 class="mb-6 text-4xl font-bold text-center text-gray-800">Rental Car Confirm</h2>

          <div class="mt-6">
            <p class="mt-2 text-lg text-gray-600">
              <span class="font-semibold text-gray-900">ชื่อ:</span> {{ user.first_name }} {{ user.last_name }}
            </p>
            <p class="mt-2 text-lg text-gray-600">
              <span class="font-semibold text-gray-900">เบอร์: </span>{{cus.phone_number}}
            </p>
            <p class="mt-2 text-lg text-gray-600">
              <span class="font-semibold text-gray-900">อีเมลล์:</span> {{user.email}}
            </p>
          </div>

          <div class="relative mt-10 overflow-x-auto">
            <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
              <thead class="text-sm text-gray-700 uppercase bg-gray-200 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                  <th scope="col" class="px-6 py-3 rounded-s-lg">รถ</th>
                  <th scope="col" class="px-6 py-3">วันเริ่มต้น</th>
                  <th scope="col" class="px-6 py-3">วันสิ้นสุด</th>
                  <th scope="col" class="px-6 py-3">จำนวนวัน</th>
                  <th scope="col" class="px-6 py-3 rounded-e-lg">ราคา</th>
                </tr>
              </thead>
              <tbody id="car-table-body"></tbody>
              <tfoot>
                <tr class="font-semibold text-gray-900 bg-gray-100 dark:text-white">
                  <th scope="row" class="px-6 py-3 text-base">ราคาทั้งหมด</th>
                  <td class="px-6 py-3"></td>
                  <td class="px-6 py-3"></td>
                  <td class="px-6 py-3"></td>
                  <td class="px-6 py-3" id="total-price">0 บาท</td>
                </tr>
              </tfoot>
            </table>
          </div>
          <div class="grid grid-cols-2 gap-4 mt-8">
            <a href="{% url 'Date' %}" class="px-6 py-3 font-semibold text-center text-white transition bg-blue-600 rounded-lg hover:bg-blue-700">เลือกเช่าอีก</a>
            <button id="checkout-button" onclick="setPrice()" class="px-6 py-3 font-semibold text-center text-white transition bg-green-600 rounded-lg hover:bg-green-700">ชำระเงิน</button>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const selectedCars = JSON.parse(localStorage.getItem('selectedCars')) || []
    
      const tableBody = document.getElementById('car-table-body')
      let totalPrice = 0
    
      selectedCars.forEach((car) => {
        const price = parseInt(car.price, 10)
        const startDate = new Date(car.start_date)
        const endDate = new Date(car.end_date)
        const timeDifference = endDate - startDate
        const days = Math.ceil(timeDifference / (1000 * 3600 * 24))
        const totalCarPrice = price * days
        const row = document.createElement('tr')
        row.classList.add('bg-white', 'border-b', 'dark:bg-gray-800')
        row.innerHTML = `
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    ${car.make} ${car.model} ${car.year}
                </th>
                <td class="px-6 py-4">${car.start_date}</td>
                <td class="px-6 py-4">${car.end_date}</td>
                <td class="px-6 py-4">${days}</td>
                <td class="px-6 py-4">${totalCarPrice} บาท</td>`
        tableBody.appendChild(row)
        totalPrice += totalCarPrice
      })
      document.getElementById('total-price').textContent = `${totalPrice} บาท`
      function setPrice() {
        const stripe = Stripe('{{ STRIPE_PUBLIC_KEY }}')
        const price = totalPrice
        const carIds = selectedCars.map((car) => car.id)
        const startDates = selectedCars.map((car) => car.start_date)
        const endDates = selectedCars.map((car) => car.end_date)
        fetch('/create-checkout-session/', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': "{{csrf_token}}"
          },
          body: JSON.stringify({ car_id: carIds, price: price, start_date: startDates, end_date: endDates })
        })
          .then(function (response) {
            return response.json()
          })
          .then(function (session) {
            localStorage.clear()
            return stripe.redirectToCheckout({ sessionId: session.id })
          })
      }
      document.getElementById('checkout-button').addEventListener('click', setPrice)
    })
  </script>
{% endblock %}
