{% extends "layout.html" %}
{% load widget_tweaks %}
{% block title %}Date Range Picker{% endblock title %}
{% block head %}
<style>
body{
    background-color: whitesmoke;
}
</style>
{% endblock head %}
{% block nav %}{% include 'nav.html' %}{% endblock nav %}
{% block content %}
<div class="flex items-center justify-center min-h-screen">
    <div class="flex w-full max-w-5xl overflow-hidden bg-white rounded-lg shadow-lg">
        <div class="w-1/2">
            <img src="https://images.unsplash.com/photo-1508974239320-0a029497e820?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
                 alt="Car Image" 
                 class="object-cover w-full h-full">
        </div>

        <div class="w-1/2 p-10 bg-white">
            <h2 class="mb-6 text-3xl font-bold text-center">เลือกวันที่</h2>
            <form method="POST">
                {% csrf_token %}
                <div class="mb-4 text-red-500">
                    {{ form.non_field_errors }}
                </div>
                <div class="mb-4">
                    <label for="start_date" class="block mb-2 font-medium text-gray-700">วันเริ่มต้น</label>
                    {{ form.start_date|add_class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5" |attr:"id:id_start_date" }}
                    <div class="mt-1 text-sm text-red-500">
                        {{ form.start_date.errors }}
                    </div>
                </div>
                <div class="mb-4">
                    <label for="end_date" class="block mb-2 font-medium text-gray-700">วันสิ้นสุด</label>
                    {{ form.end_date|add_class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5" |attr:"id:id_end_date"}}
                    <div class="mt-1 text-sm text-red-500">
                        {{ form.end_date.errors }}
                    </div>
                </div>
                <div class="text-center">
                    <button onclick="setDate()" 
                            type="submit" 
                            class="px-4 py-2 font-bold text-white bg-green-500 rounded hover:bg-green-600 focus:outline-none focus:shadow-outline">
                        ยืนยัน
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
function setDate(){
    const startDate = document.getElementById("id_start_date").value;
    const endDate = document.getElementById("id_end_date").value;
    localStorage.setItem("start_date", startDate);
    localStorage.setItem("end_date", endDate);
}
</script>
{% endblock content %}
