{% extends "layout.html" %}
{% load humanize %}
{% block title %}Rental Car{% endblock title %}
{% block head %}
<style>
    body {
        background-color: whitesmoke;
    }
</style>
{% endblock head %}
{% block nav %}{% include 'nav.html' %}{% endblock nav %}

{% block content %}
<body>
    <div class="px-5 py-5">
        <div class="grid grid-cols-2">
            <p class="py-5 text-4xl font-bold uppercase">WELCOME {{user.username}}</p>
            <div class="flex justify-end">
                <form class="flex items-center" action="{% url 'RentalSearchBar' start_date=start_date end_date=end_date %}" method="GET">
                    <input type="text" id="simple-search" name="car"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg px-10 p-2.5"
                        value="{{car_search}}" required />
                    <button type="submit"
                        class="p-2.5 ms-2 text-sm font-medium text-white bg-blue-700 rounded-lg border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300">
                        <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                        </svg>
                        <span class="sr-only">Search</span>
                    </button>
                </form>
            </div>
        </div>

        <div class="grid grid-cols-4 gap-8">
            <div class="col-span-1 p-6 bg-white rounded shadow">
                <div class="flex items-center mb-4">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-gray-500">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 3c2.755 0 5.455.232 8.083.678.533.09.917.556.917 1.096v1.044a2.25 2.25 0 0 1-.659 1.591l-5.432 5.432a2.25 2.25 0 0 0-.659 1.591v2.927a2.25 2.25 0 0 1-1.244 2.013L9.75 21v-6.568a2.25 2.25 0 0 0-.659-1.591L3.659 7.409A2.25 2.25 0 0 1 3 5.818V4.774c0-.54.384-1.006.917-1.096A48.32 48.32 0 0 1 12 3Z" />
                    </svg>
                    <p class="ml-2 text-lg font-semibold">ค้นหาแบบละเอียด</p>
                </div>
                <form method="GET" action="{% url 'RentalSearch' start_date=start_date end_date=end_date %}">
                    <div class="py-3">
                        <p class="mb-2 text-lg font-medium">หมวดหมู่</p>
                        {% for cates in cate %}
                        <div class="flex items-center py-2">
                            <input id="category-checkbox-{{ forloop.counter }}" type="checkbox"
                                name="categories" value="{{ cates.id }}"
                                class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-purple-500"
                                {% if cates.id in selected_categories %} checked {% endif %}>
                            <label for="category-checkbox-{{ forloop.counter }}"
                                class="ml-2 text-sm font-medium text-gray-900">{{ cates.name }}</label>
                        </div>
                        {% endfor %}
                    </div>
                    <hr class="my-1">
                    <div class="py-2">
                        <p class="mb-2 text-lg font-medium">แบรนด์รถยนต์</p>
                        {% for make in car %}
                        <div class="flex items-center py-2">
                            <input id="brand-checkbox-{{ forloop.counter }}" type="checkbox"
                                name="brands" value="{{ make.make }}"
                                class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-purple-500"
                                {% if make.make in selected_brands %} checked {% endif %}>
                            <label for="brand-checkbox-{{ forloop.counter }}"
                                class="ml-2 text-sm font-medium text-gray-900">{{ make.make }}</label>
                        </div>
                        {% endfor %}
                    </div>
                    <hr class="my-1">
                    <div class="py-2">
                        <p class="mb-2 text-lg font-medium">Feature</p>
                        {% for fea in feature %}
                        <div class="flex items-center py-2">
                            <input id="feature-checkbox-{{ forloop.counter }}" type="checkbox"
                                name="features" value="{{ fea.id }}"
                                class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-purple-500"
                                {% if fea.id in selected_features %} checked {% endif %}>
                            <label for="feature-checkbox-{{ forloop.counter }}"
                                class="ml-2 text-sm font-medium text-gray-900">{{ fea.name }}</label>
                        </div>
                        {% endfor %}
                    </div>
                    <hr class="my-1">
                    <!-- Price Range Section ยังไม่ทำ  -->
                    <div class="py-2">
                        <p class="mb-2 text-lg font-medium">ราคา</p>
                        <div class="relative mb-6">
                            <input id="labels-range-input" type="range" name="price" min="2000" max="15000" step="50"
                                value="{{selected_price | default:8500}}"
                                class="w-full h-2 bg-gray-200 rounded-lg appearance-none cursor-pointer">
                            <div class="flex justify-between mt-2 text-sm text-gray-500">
                                <span>Min ($2000)</span>
                                <span id="range-value">${{selected_price | default:8500}}</span>
                                <span>Max ($15000)</span>
                            </div>
                        </div>
                    </div>
                        <div class="flex justify-center">
                            <button type="submit" class="w-full p-3 text-xs text-white bg-green-600 rounded-lg hover:bg-green-700">ค้นหา</button>
                        </div>
                </form>
            </div>

            <div class="col-span-3 p-6 bg-white rounded-lg shadow-md">
                {% if cars %}
                    <div class="grid grid-cols-3 gap-7">
                        {% for i in cars %}
                        <div class="w-full max-w-sm transition duration-300 bg-white border border-gray-200 rounded-lg shadow-lg hover:bg-gray-50">
                            <img class="p-8 rounded-t-lg" src="{{ i.image }}" alt="product image" />
                            <div class="px-5 pb-5">
                                <div class="flex items-center justify-between mb-3">
                                    <h5 class="font-semibold tracking-tight text-gray-900 text-md">{{ i.make }} {{ i.model }} {{ i.year }}</h5>
                                    <a href="{% url 'CarDetail' pk=i.id start_date=start_date end_date=end_date %}">
                                        <div class="text-gray-500">
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                                stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z" />
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                                            </svg>
                                        </div>
                                    </a>
                                </div>
                                <div class="flex items-center justify-between">
                                    <span class="text-lg font-bold text-gray-900">{{ i.price_per_day|intcomma }}/day</span>
                                    <a href="{% url 'confirm' pk=i.id %}" onclick="setCar()" 
                                    data-car-id="{{ i.id }}" 
                                    data-car-make="{{ i.make }}" 
                                    data-car-model="{{ i.model }}" 
                                    data-car-year="{{ i.year }}" 
                                    data-car-price="{{ i.price_per_day }}"
                                    class="px-4 py-2 text-sm text-white transition bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300">เช่า</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <p class="text-lg font-bold text-red-600">{{message}}</p>
                {% endif %}
            </div>
        </div>
    </div>
</body>

<script>
    const rangeInput = document.getElementById('labels-range-input');
    const rangeValue = document.getElementById('range-value');
    
    rangeInput.addEventListener('input', function() {
        rangeValue.textContent = `$${this.value}`;
    });
    function setCar() {
        const carID = event.target.getAttribute('data-car-id');
        const carMake = event.target.getAttribute('data-car-make');
        const carModel = event.target.getAttribute('data-car-model');
        const carYear = event.target.getAttribute('data-car-year');
        const carPrice = event.target.getAttribute('data-car-price');
        const startDate = "{{start_date}}";
        const endDate = "{{end_date}}";

        const car = {
                id: carID,
                make: carMake,
                model: carModel,
                year: carYear,
                price: carPrice,
                start_date: startDate,
                end_date: endDate
            };
    
        let selectedCars = JSON.parse(localStorage.getItem("selectedCars")) || []
        selectedCars.push(car);
        localStorage.setItem("selectedCars", JSON.stringify(selectedCars));    
    }
    
</script>
{% endblock content %}
