{% extends 'layout.html' %}
{% block title %}Rent History{% endblock title %}
{% block head %}{% endblock head %}
{% block nav %}{% include 'nav.html' %}{% endblock nav %}
{% block content %}
    <div class="mt-8">
        <h2 class="text-center font-bold text-2xl mb-2">ประวัติการจองของ {{user.first_name}} {{user.last_name}}</h2>
        <div class=" p-8 m-5  max-w-2xl mx-auto">
            {% if rental_data %}
                {% for rental in rental_data %}
                    <div class="mb-6 border p-4 rounded-lg shadow-lg hover:bg-gray-100 cursor-pointer">
                        <h1 class="text-lg font-bold">หมายเลขการจอง {{ rental.rental.id }}</h1>
                        <table class="table-auto w-full">
                            <thead>
                                <tr>
                                    <th class="px-4 py-2">รถ</th>
                                    <th class="px-4 py-2">วันที่เริ่มต้น</th>
                                    <th class="px-4 py-2">วันที่สิ้นสุด</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if rental.rental_cars.count > 0 %}
                                    {% for rental_car in rental.rental_cars %}
                                        <tr>
                                            <td class="text-center px-4 py-2">{{ rental_car.car }}</td>
                                            <td class="text-center px-4 py-2">{{ rental_car.start_date }}</td>
                                            <td class="text-center px-4 py-2">{{ rental_car.end_date }}</td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr>
                                        <td colspan="4" class="text-center border px-4 py-2">ไม่มีรถที่จองในหมายเลขนี้</td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                        <div class="grid grid-cols-2">
                            {% if rental.rental.status == 'Cancel' %}
                                    <h1 class="text-lg ">สถานะการเช่ารถ : <span class="text-red-500">{{ rental.rental.status }}</span></h1>
                                {% else %}
                                    <h1 class="text-lg ">สถานะการเช่ารถ : <span class="text-green-500">{{ rental.rental.status }}</span></h1>
                                {% endif %}
                                <div class="flex justify-end">
                                {% if rental.can_cancel and rental.rental.status == 'Complete' %}                                    
                                <button type="submit" onclick="changeStatusRental({{ rental.rental.id }}, '{{ csrf_token }}')" class="rounded-md bg-red-600 py-2 px-4 border border-transparent text-center text-sm text-white transition-all shadow-md hover:shadow-lg focus:bg-red-700 focus:shadow-none active:bg-red-700 hover:bg-red-700 active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none ml-2">ยกเลิกการจอง</button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p class="text-center">ไม่มีประวัติการจอง</p>
            {% endif %}
        </div>
    </div>
{% endblock content %}
{% block script %}
<script>
    function changeStatusRental(rental_id, csrf_token){
        Swal.fire({
            title: 'คุณแน่ใจหรือไม่?',
            text: "หากยกเลิกการจอง ระบบจะทำการคืนเงินมัดจำให้คุณ",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            cancelButtonText: 'ยกเลิก',
            confirmButtonText: 'ตกลง',
        }).then((result) => {
            if (result.isConfirmed) {
                fetch(`/cancel/${rental_id}/`, {
                    method: 'PUT',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrf_token
                    },
                })
                .then(response => response.json())
                .then(data => {
                    if (data.cancel === 'success') {
                        Swal.fire(
                            'สำเร็จ',
                            'การจองของคุณถูกยกเลิก',
                            'success'
                        ).then(() => {
                            window.location.reload();
                        });
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            }
        });
    }
</script>

{% endblock script %}