{% extends 'layout.html' %}
{% block title %}Customer Info{% endblock title %}
{% block head %}{% endblock head %}
{% block nav %}{% include 'navadmin.html' %}{% endblock nav %}
{% block content %}
    <div class="text-center mt-12">
        <h1 class="text-2xl font-bold">ข้อมูลลูกค้า</h1>
    </div>
    <div class="bg-gray-100 p-8 m-9 border border-gray-300 rounded-lg shadow-lg max-w-md mx-auto">
        {% comment %} <h2 class="text-center font-bold text-xl mb-4">{{customer.user.first_name}} {{ customer.user.last_name}}</h2> {% endcomment %}
    
        <div class="flex justify-between border-b border-gray-300 py-2">
            <span class="font-bold">ชื่อ:</span>
            <span>{{ customer.user.first_name }}</span>
        </div>
    
        <div class="flex justify-between border-b border-gray-300 py-2">
            <span class="font-bold">นามสกุล:</span>
            <span>{{ customer.user.last_name }}</span>
        </div>
    
        <div class="flex justify-between border-b border-gray-300 py-2">
            <span class="font-bold">เบอร์โทร:</span>
            <span>{{ customer.phone_number }}</span>
        </div>

        <div class="flex justify-between border-b border-gray-300 py-2">
            <span class="font-bold">อีเมล:</span>
            <span>{{ customer.user.email }}</span>
        </div>
    
        <div class="flex justify-between border-b border-gray-300 py-2">
            <span class="font-bold">ที่อยู่:</span>
            <span>{{ customer.address }}</span>
        </div>
    </div>
    
    
{% endblock content %}