{% extends 'layout.html' %}
{% load widget_tweaks %}
{% block title %}Edit Car{% endblock %}
{% block nav %}{% include 'navadmin.html' %}{% endblock nav %}
{% block content %}
    <div class="text-center mt-12">
        <h1 class="text-2xl font-bold">แก้ไขรถ</h1>
    </div>

    <div class="flex justify-center items-center mt-10 mb-10">
        <div class="bg-white rounded-3xl shadow-2xl p-8 ">
            <h1 class="text-center text-xl font-semibold">ข้อมูลรถ</h1>
            <br>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.non_field_errors }}

                <div class="mb-5">
                    <label for="make" class="block mb-1">ยี่ห้อ : </label>
                    {{ form.make|add_class:"w-full p-2 border border-gray-300 rounded-md bg-gray-50" }}
                </div>

                <div class="mb-5">
                    <label for="model" class="block mb-1">รุ่น : </label>
                    {{ form.model|add_class:"w-full p-2 border border-gray-300 rounded-md bg-gray-50" }}
                </div>

                <div class="mb-5">
                    <div class="text-red-700">{{ form.year.errors }}</div>
                    <label for="year" class="block mb-1">ปี : </label>
                    {{ form.year|add_class:"w-full p-2 border border-gray-300 rounded-md bg-gray-50" }}
                </div>

                <div class="mb-5">
                    <label for="price_per_day" class="block mb-1">ราคาต่อวัน : </label>
                    {{ form.price_per_day|add_class:"w-full p-2 border border-gray-300 rounded-md bg-gray-50" }}
                </div>

                <div class="mb-5">
                    <label for="description" class="block mb-1">รายละเอียด : </label>
                    {{ form.description|add_class:"w-full p-2 border border-gray-300 rounded-md bg-gray-50" }}
                </div>

                <div class="mb-5">
                    <label for="category" class="block mb-1">ประเภทรถ : </label>
                    {{ form.category|add_class:"w-full p-2 border border-gray-300 rounded-md bg-gray-50" }}
                </div>

                <div class="mb-5">
                    <label for="feature" class="block mb-1">คุณสมบัติ :</label>
                    {{ form.feature|add_class:"w-full p-2" }}
                </div>
                
                <div class="mb-5">
                    <label for="image" class="block mb-1">ภาพปัจจุบัน :</label>
                    {% if car.image %}
                        <div class="w-48 h-24 border">
                            <img src="{{ car.image.url }}" alt="Car Image" class="object-fill w-full h-full">
                        </div>
                    {% else %}
                        <p>No image available</p>
                    {% endif %}
                </div>

                <div class="mb-5">
                    <label for="image" class="block mb-1">อัพโหลดรูปภาพ :</label>
                    {{ form.image|add_class:"w-full p-2 bg-gray-50 text-sm border rounded-lg" }}
                </div>
                <button type="submit" class="ml-24 w-24 bg-green-600 text-white py-2 px-4 rounded-md hover:bg-green-700">ยืนยัน</button>
            </form>
        {% if perms.myrental.delete_car %} 
            <button type="submit" class="mt-2 ml-24 w-38 bg-red-600 text-white py-2 px-4 rounded-md hover:bg-red-700" onclick="removeCar({{ car.id }}, '{{ csrf_token }}')">ลบรถคันนี้</button>
        {% endif %}
        </div>
    </div>
{% endblock content %}
{% block script %}
    <script>
        async function removeCar(car_id, csrf_token){

            // กำหนด path ให้ถูกต้อง
            fetch(`/manage/category/delete/${car_id}/`, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrf_token
                },
            })
            .then(response => response.json())
            .then(data => {
                if (data.message) {
                    alert(data.message)
                }
                console.log('Item deleted successfully')
                window.location.href = '/manage/category/';  // เปลี่ยนเส้นทางไปที่ manage_car
            })
            .catch(error => console.error('Error:', error));
        }
    </script>
{% endblock script %}
