{% extends 'layout.html' %}
{% block title %}Car Manage{% endblock %}
{% block head %}
    <style>
        .box-category {
            display: grid-column;
            margin-top: 5%;
            column-gap: 50px;
            background-color: #ffffff;
            text-align: center;
        }
        .box {
            background-color: #ffffff;
            text-align: center;
            border-radius: 25px;
            margin-left: 5%;
            margin-right: 5%;
            box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.2);
        }
        .box:first-child {
            margin-left: 5%;
        }
        .box:last-child {
            margin-right: 5%;
        }
        table {
            width: 100%;
            border-collapse: collapse; /* Prevents borders from doubling */
        }

        th {
            padding: 10px;
            text-align: center;
            background-color: #FFFFFF; /* White background for th */
        }

        td {
            padding: 10px;
            text-align: center;
            /* background-color: rgba(0, 0, 0, 0.1); */
        }

        tr:first-child {
            border-top-left-radius: 15px; /* Round top-left corner */
        }

        tr:last-child {
            border-top-right-radius: 15px; /* Round top-right corner */
        }

        tr:last-child td:first-child {
            border-bottom-left-radius: 15px; /* Round bottom-left corner */
        }

        tr:last-child td:last-child {
            border-bottom-right-radius: 15px; /* Round bottom-right corner */
        }

    </style>
{% endblock head %}
{% block nav %}{% include 'navadmin.html' %}{% endblock nav %}
{% block content %}    
    <div class="head" style="text-align: center; margin-top: 50px;">
        <h1 class="text-2xl">ประเภทรถ</h1>
    </div>

    <div class="grid grid-cols-5 gap-5" style="margin: 5% 10% 10% 10%;">
        {% for catcar in category %}
        <form method="GET" action="{% url 'catcar_id' catcar.id %}">
            <div class="max-w-sm ">
                <button type="submit">
                    <img class="object-cover w-full h-48 rounded-lg" src="{{ catcar.image }}" alt="" />
                </button>
            </div>
        </form>
        {% endfor %}
    </div>

    <div class="grid grid-cols-5 mx-32 -mt-28">
        {% for catcar in category %}
            {% if catcar.name == catpk.name %}
                <p class="text-center text-transparent uppercase bg-clip-text bg-gradient-to-r from-pink-500 to-violet-500">{{ catcar.name }}</p>
            {% else %}
                <p class="text-center uppercase ">{{ catcar.name }}</p>
            {% endif %}
        {% endfor %}
    </div>
    <div class="p-12 my-10 border border-gray-300 rounded-lg shadow-lg box">
        <div class="flex justify-between mb-3">
            <a href="{% url 'refresh_search' catpk.id %}" class="ml-16 text-blue-600 hover:underline">แสดงทั้งหมด</a>
            <p class="ml-36 text-2xl text-transparent bg-clip-text bg-gradient-to-r from-pink-500 to-violet-500">{{catpk.name}}</p>
            <form method="get" action="{% url 'category_search' catpk.id %}">
                <div class="flex">
                    <input name="search" type="text" id="searchInput" placeholder="ค้นหาข้อมูล..." class="w-2/4 px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400">
                    <button type="submit" class="px-4 py-1 ml-5 text-white transition duration-300 bg-blue-500 rounded-lg hover:bg-blue-600">ค้นหา</button>
            </form>
                </div>          
        </div>

        <table class="mt-4">
            <thead>
                <tr>
                    <th class="text-transparent bg-clip-text bg-gradient-to-r from-pink-500 to-violet-500">ยี่ห้อ</th>
                    <th class="text-transparent bg-clip-text bg-gradient-to-r from-pink-500 to-violet-500">รุ่น</th>
                    <th class="text-transparent bg-clip-text bg-gradient-to-r from-pink-500 to-violet-500">ราคาต่อวัน</th>
                    <th class="text-transparent bg-clip-text bg-gradient-to-r from-pink-500 to-violet-500">รายละเอียด</th>
                </tr>
            </thead>
            <tbody>
                {% for carlist in carlists %}
                <tr class="hover:bg-gray-50">
                    <td>{{ carlist.make }}</td>
                    <td>{{ carlist.model }}</td>
                    <td>{{ carlist.price_per_day }} บาท</td>
                    <td><a href="{% url 'edit_car' carlist.id %}" class="-mx-16 px-3 py-1 text-blue-600 border rounded-lg hover:underline">ข้อมูลเพิ่มเติม</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}