{% load static %}

<header class="border">
    <div class="logo">
        <img src="https://file.kelleybluebookimages.com/kbb/base/evox/CP/55034/2025-Honda-Civic-front_55034_032_1816x735_RE_cropped.png" alt="">
    </div>
    <nav class="nav" id="nav-menu">
        <ion-icon name="close-outline" class="header__close" id="close-menu"></ion-icon>
        <ul class="nav__list">
            <li class="nav__item"><a href="{% url 'manage_car' %}" class="nav__link">จัดการรถ</a></li>
            <li class="nav__item"><a href="logout.php" class="nav__link">ออกจากระบบ</a></li>
        </ul>
    </nav>
    <ion-icon name="menu-outline" class="header__toggle" id="toggle-menu"></ion-icon>
</header>