{% load static %}

<nav class="flex items-center justify-between w-full py-4 bg-white/80 text-black border">
    <div class="logo flex items-center pl-12">
        <img src="https://file.kelleybluebookimages.com/kbb/base/evox/CP/55034/2025-Honda-Civic-front_55034_032_1816x735_RE_cropped.png" alt="" class="w-24">
    </div>
    <nav class="flex items-center pr-7">
        <ul class="flex space-x-12 pr-10">
            <li><a href="{% url 'rental_info' %}" class="text-sm font-medium text-black hover:underline">จัดการรถ</a></li>
            <li><a href="{% url 'manage_car' %}" class="text-sm font-medium text-black hover:underline">จัดการรถ</a></li>
            <li><a href="logout.php" class="text-sm font-medium text-black hover:underline">ออกจากระบบ</a></li>
        </ul>
    </nav>
</nav>